%p#notice= notice
%p
  %strong Név:
  = @genre.name
%p
  %strong Könyvek:
  - @genre.books.each do |book|
    =link_to book.title, book
- if can? :manage, @genre
  = link_to 'Edit', edit_genre_path(@genre)
|
= link_to 'Back', genres_path
