- if params[:form] == 'store'
  %h1 Bolt szerkesztése
  = render 'form'
- elsif params[:form] == 'inventory'
  %h1 Raktár módosítása
  = render 'inventory_form'
= link_to 'Megtekintés', @store
|
= link_to 'Vissza', stores_path
