%h1 Szerzők
%table.table.table-striped
  %thead
    %tr
      %th Név
      %th Könyvek száma
      %th{:colspan => "3"}
  %tbody
    - @authors.each do |author|
      %tr
        %td
          =link_to author.name, author
        %td
          = author.books.count
-if can? :create, Author
  %br/
  = link_to 'Új Szerző felvétele', new_author_path
