%p#notice= notice

%p
  %b Könyvek:
  - @purchase.book_purchases.each do |book_purchase|
    =book_purchase.book.title

%p
  %b Delivery method:
  = @purchase.delivery_method
%p
  %b Total cost:


= link_to 'Edit', edit_purchase_path(@purchase)
\|
= link_to 'Back', purchases_path
