.footer
  %ul.footer-links
    %li.muted © 2015
    %li=link_to "NetApp", main_app.root_path
    %li.muted="|".html_safe
    %li=link_to "Privacy Policy", main_app.root_path
    %li.muted="|".html_safe
    %li=link_to "Contact Us", main_app.root_path
    - if user_signed_in?
      %li.muted="|".html_safe
      %li=link_to "Terms & Conditions", main_app.root_path
      %li.muted="|".html_safe
      %li=link_to "FAQ's", main_app.root_path
      %li.muted="|".html_safe
      %li= link_to "Logout", destroy_session_path(current_user), method: :delete