%h1 Kiadók
%table.table.table-striped
  %thead
    %tr
      %th Név
      %th Könyvek száma
      %th{:colspan => "3"}
  %tbody
    - @publishers.each do |publisher|
      %tr
        %td= link_to publisher.name, publisher
        %td= publisher.books.count
-if can? :create, Author
  %br/
  = link_to 'Új kiadó felvétele', new_publisher_path
